body{
    background-color: #fff;
}

.um{
    background-color: aqua;
    margin-top: 7vh;
    width: 100%;
    margin-left: 14vh;
    border-radius: 15px;
}

.dois{
    border-color: blueviolet;
    border-style: solid;
    margin-top: 7vh;
    width: 83%;
    margin-left: 28vh;
    border-radius: 15px;

}

.cont-form{    
    margin-top: 15px;
    display: flex;    
    height: 100%;
    width: 100%;
    justify-content: start;
    align-items: center;
}
