.main{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1CB4D4;
    padding: 0 12px;
}

.login{
    background-color: #eaeaec;
    width: 600px;
    display: flex;  
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    border-radius: 15px;   
    padding: 12px 0;
}

.login-area{
    background-color: #181c2e;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-area img{
    width: 170px;
    height: 130px;
    padding: 20px;
}

.form-sing{
    width: 80%;
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
}

.form-sing h1{
    text-align: center;
    margin-bottom: 1rem;
    color: #181c2e;
}

.form-sing label{
    margin: 4px;
}

.ajust{
    width: 35%;
    margin: 6px;
}

.error{
    background-color: coral;
    padding: 8px;
    border-radius: 15px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: bold;
    opacity: 0.9;
    display: flex;
    justify-content: center;
    transition: all 0.6s;  
    cursor: default;  
}

.error:active{
    transition: all 0.6s;
}

.login input{
    margin-bottom: 1rem;
    height: 40px;
    border-radius: 10px;
    border: 0;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
}

form button{
    height: 45px;
    border: 0;
    border-radius: 30px;
    background-color: #181c2e;
    color: #fff;
    font-size: 1.3rem;
    transition: 0.6s;
}

form button:hover{
    color: #181c2e;
    background-color: #fff;
}

.login a{
    margin: 1.5rem 0;
    color: #000;
    cursor: pointer;
}

@media screen and (max-width: 700px){
    .CPF{
        width: 100%;
        margin-right: 0px;
    }
}